@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monage";
  src: local("Monage"), url("./assets/fonts/Monage.ttf") format("truetype");
  font-weight: normal;
}

.monage-font {
  font-family: "Monage";
}
